<?xml version="1.0" encoding="UTF-8"?>
<suite name="Multibank test suite" parallel="classes" thread-count="3">
    <listeners>
        <listener class-name="org.testng.reporters.XMLReporter" />
        <listener class-name="org.testng.reporters.SuiteHTMLReporter" />
    </listeners>
    <test name="Test">
        <parameter name="browser" value="firefox"/>
        <parameter name="url" value=""/>

        <classes>
            <class name="org.example.tests.SpotTradingTests"/>
            <class name="org.example.tests.AboutUsTests"/>
            <class name="org.example.tests.MarketingBannerTests"/>
            <class name="org.example.tests.NavigationTests"/>
        </classes>
    </test>
</suite>
